# Pipeline de ETL de los archivos del Set "reviews" para exportación de archivos finales filtrados por categorias( usando "gmap_id"), eliminando la columna "Pics" por ser irrelevante y poseer más del 80% de nulos.

## Pasos

0. Importar librerias
1. Crear filtro usando archivo "gmap_id_metadata_filtrado_category_final.csv" para hacer un dataframe llamado "gmap_app"
2. Importar archivos Json por estados ej: "reviews_Alabama/1.json" y concatenar todos en un solo dataframe llamado "df_reviews_estado"
3. Eliminar columna "Pics"
4. Eliminar filas que no correspondan con nuestro filtro "gmap_app"
5. Exportar nueva versión de los archivos unificados por estado

### Paso 0: Importar librerias

In [1]:
import pandas as pd
import json
import os

### Paso 1: Crear un df "gmap_app"

In [2]:

gmap_app = pd.read_csv("./Dataset/auxi/gmap_id_metadata_filtrado_category_final.csv")

In [3]:

gmap_app

                                      gmap_id
0       0x80c2c778e3b73d33:0xbdc58662a4a97d49
1       0x80dd2b4c8555edb7:0xfc33d65c4bdbef42
2       0x87ec2481df6626b5:0xff5627745308ec2b
3       0x884bdf439ee0d6e3:0x16676d0a5982954d
4       0x809b2037e088215d:0xbd3cebbdb6533638
...                                       ...
329532  0x87d3a24c6b9f6b1b:0x9ea26cbe6dc7aad9
329533  0x87d247cfd66dd153:0x915c7425736e865a
329534  0x87d268b0fbbfd4b9:0xeec251970fae404c
329535  0x87d24cd30b7695d1:0xdc25418ff311a6aa
329536    0x89da6b8177ee49d5:0xbc9dfc53722fe1

[329537 rows x 1 columns]

### Paso 2: Importar archivos

In [14]:

df_reviews_Hawaii = pd.DataFrame()

for i in range(1, 12):
    filename = f'./Dataset/Google_Maps/reviews-estados/review-Hawaii/{i}.json'
    df = pd.read_json(filename, lines=True, dtype={'user_id': str})
    df_reviews_Hawaii = pd.concat([df_reviews_Hawaii, df], ignore_index=True)

df_reviews_Hawaii

,user_id,name,time,rating,text,pics,resp,gmap_id
0,113965417079576625433,manuel grimaldo,1591839903487,5,Great new upgrade,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
1,116655819137293331166,Enrique Lara,1568059018979,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
2,100834119994550070853,Gregory Donaldson,1594885588335,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
3,103207214144482097315,Brian Baker,1575951131613,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
4,108526171163172578599,Kam J,1573076723916,3,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
...,...,...,...,...,...,...,...,...
1504342,101983994241464887473,Maria Gizella Nemcsics,1523148228376,5,None,None,None,0x7953b4a4114e37f7:0x374b5a1f84f48a1a
1504343,113098510642759716171,劉冠良,1578633104357,5,None,None,None,0x7953b4a4114e37f7:0x374b5a1f84f48a1a
1504344,116549919119718875136,Lauren Henninger,1578120354635,5,None,None,None,0x7953b4a4114e37f7:0x374b5a1f84f48a1a
1504345,101175320492449773149,Marshall,1552474937379,4,None,None,None,0x7953b4a4114e37f7:0x374b5a1f84f48a1a
1504346,103937689746552764102,Anita Nickerson,1565639831015,5,None,None,None,0x7953b4a4114e37f7:0x374b5a1f84f48a1a

### Paso 2: Drop columna "pics"

In [15]:

df_reviews_Hawaii.drop("pics", axis=1, inplace=True)

In [16]:

df_reviews_Hawaii

,user_id,name,time,rating,text,resp,gmap_id
0,113965417079576625433,manuel grimaldo,1591839903487,5,Great new upgrade,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
1,116655819137293331166,Enrique Lara,1568059018979,5,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
2,100834119994550070853,Gregory Donaldson,1594885588335,5,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
3,103207214144482097315,Brian Baker,1575951131613,5,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
4,108526171163172578599,Kam J,1573076723916,3,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
...,...,...,...,...,...,...,...
1504342,101983994241464887473,Maria Gizella Nemcsics,1523148228376,5,None,None,0x7953b4a4114e37f7:0x374b5a1f84f48a1a
1504343,113098510642759716171,劉冠良,1578633104357,5,None,None,0x7953b4a4114e37f7:0x374b5a1f84f48a1a
1504344,116549919119718875136,Lauren Henninger,1578120354635,5,None,None,0x7953b4a4114e37f7:0x374b5a1f84f48a1a
1504345,101175320492449773149,Marshall,1552474937379,4,None,None,0x7953b4a4114e37f7:0x374b5a1f84f48a1a
1504346,103937689746552764102,Anita Nickerson,1565639831015,5,None,None,0x7953b4a4114e37f7:0x374b5a1f84f48a1a

### Paso 4: Filtro por "gmap_app"

In [17]:

df_reviews_Hawaii = df_reviews_Hawaii[df_reviews_Hawaii['gmap_id'].isin(gmap_app['gmap_id'])]

In [18]:

df_reviews_Hawaii

,user_id,name,time,rating,text,resp,gmap_id
23,100727319150749309755,Tiyana Fernandez,1624672590351,5,The owner Michelle is a great colorist and sty...,None,0x7c006f4a2bf83f7d:0x192f04f2b228fefe
24,105106921639099579780,Valerie Ho,1591052180332,5,Jaye did a great job.,None,0x7c006f4a2bf83f7d:0x192f04f2b228fefe
25,109506251871756585891,Jorge Molina,1559979083979,4,"Great sevice,very clean and polite employees.",None,0x7c006f4a2bf83f7d:0x192f04f2b228fefe
26,117078108666370229772,B,1570898160523,2,This place is very dated and the lighting is a...,None,0x7c006f4a2bf83f7d:0x192f04f2b228fefe
27,117534028244404565929,Jaime Cadena,1517450465512,5,Great place for men or women. Several stylists...,None,0x7c006f4a2bf83f7d:0x192f04f2b228fefe
...,...,...,...,...,...,...,...
169726,109238178190079517392,Nob Ikeda,1560217202161,4,None,None,0x7c004fe125669a03:0xf75d0a9729dc753e
169727,109742384609843617700,Stu Brodie,1544544133960,5,None,None,0x7c004fe125669a03:0xf75d0a9729dc753e
169728,107782244543332195706,Edwin Nieves,1560647230465,5,None,None,0x7c004fe125669a03:0xf75d0a9729dc753e
169729,101466313397188830981,Marion,1553207079785,5,None,None,0x7c004fe125669a03:0xf75d0a9729dc753e
169730,105678424652023151807,Tea Didikai,1567537967498,5,None,None,0x7c004fe125669a03:0xf75d0a9729dc753e

### Paso 5: Exportar archivos finales

In [19]:

df_reviews_Hawaii.to_json("./Dataset/reviews_filtered/reviews_Hawaii_final.json", orient="records")

### Paso 6: Proceso automatizado

In [ ]:
# Alternativa para la suba automatizada de los archivos Json al GCP

carpeta= "./datasets/"
listado= os.listdir(carpeta)
#listado=["./Dataset/Google_Maps/reviews-estados"]
for lista in listado:
    otralista=[]

    if os.path.isdir(carpeta+lista) and "review-" in lista:
        otralista=os.listdir(carpeta+lista)
        df2 = pd.DataFrame()

        for ol in otralista:
            df = pd.read_json(carpeta+lista+"/"+ol, lines=True)
            df2 = pd.concat([df2, df], ignore_index=True)

        df2.drop("pics", axis=1, inplace=True)
        df2 = df2[df2['gmap_id'].isin(gmap_app['gmap_id'])]
        df2.to_json(f'{carpeta}reviews_filtered/{lista}_final.json', orient="records")

In [20]:
df_reviews_Hawaii

,user_id,name,time,rating,text,resp,gmap_id
23,100727319150749309755,Tiyana Fernandez,1624672590351,5,The owner Michelle is a great colorist and sty...,None,0x7c006f4a2bf83f7d:0x192f04f2b228fefe
24,105106921639099579780,Valerie Ho,1591052180332,5,Jaye did a great job.,None,0x7c006f4a2bf83f7d:0x192f04f2b228fefe
25,109506251871756585891,Jorge Molina,1559979083979,4,"Great sevice,very clean and polite employees.",None,0x7c006f4a2bf83f7d:0x192f04f2b228fefe
26,117078108666370229772,B,1570898160523,2,This place is very dated and the lighting is a...,None,0x7c006f4a2bf83f7d:0x192f04f2b228fefe
27,117534028244404565929,Jaime Cadena,1517450465512,5,Great place for men or women. Several stylists...,None,0x7c006f4a2bf83f7d:0x192f04f2b228fefe
...,...,...,...,...,...,...,...
169726,109238178190079517392,Nob Ikeda,1560217202161,4,None,None,0x7c004fe125669a03:0xf75d0a9729dc753e
169727,109742384609843617700,Stu Brodie,1544544133960,5,None,None,0x7c004fe125669a03:0xf75d0a9729dc753e
169728,107782244543332195706,Edwin Nieves,1560647230465,5,None,None,0x7c004fe125669a03:0xf75d0a9729dc753e
169729,101466313397188830981,Marion,1553207079785,5,None,None,0x7c004fe125669a03:0xf75d0a9729dc753e
169730,105678424652023151807,Tea Didikai,1567537967498,5,None,None,0x7c004fe125669a03:0xf75d0a9729dc753e