In [3]:
import pandas as pd

In [4]:
cities = pd.read_csv("datasets/uscities.csv")
cities

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220,10715,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1139,-118.4068,12750807,3276,polygon,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90037 90031 9000...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8373,-87.6862,8604203,4574,polygon,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7839,-80.2102,6445545,5019,polygon,False,True,America/New_York,1,33129 33125 33126 33127 33128 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7936,-96.7662,5743938,1526,polygon,False,True,America/Chicago,1,75287 75098 75233 75254 75251 75252 75253 7503...,1840019440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28333,Gross,Gross,NE,Nebraska,31015,Boyd,42.9461,-98.5697,2,6,polygon,False,True,America/Chicago,3,68719,1840011032
28334,Lotsee,Lotsee,OK,Oklahoma,40143,Tulsa,36.1334,-96.2091,2,39,polygon,False,True,America/Chicago,3,74063,1840021674
28335,The Ranch,The Ranch,MN,Minnesota,27087,Mahnomen,47.3198,-95.6952,2,2,polygon,False,True,America/Chicago,3,56557,1840039629
28336,Shamrock,Shamrock,OK,Oklahoma,40037,Creek,35.9113,-96.5772,2,2,polygon,False,True,America/Chicago,3,74068,1840022701
28337,Monowi,Monowi,NE,Nebraska,31015,Boyd,42.8307,-98.3296,1,1,polygon,False,True,America/Chicago,3,68746,1840011034

In [5]:
cities_filtered = cities[cities['population'] > 2500]
cities_filtered = cities_filtered[cities_filtered['incorporated'] == True]
cities_filtered

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220,10715,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1139,-118.4068,12750807,3276,polygon,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90037 90031 9000...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8373,-87.6862,8604203,4574,polygon,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7839,-80.2102,6445545,5019,polygon,False,True,America/New_York,1,33129 33125 33126 33127 33128 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7936,-96.7662,5743938,1526,polygon,False,True,America/Chicago,1,75287 75098 75233 75254 75251 75252 75253 7503...,1840019440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9767,Halls,Halls,TN,Tennessee,47097,Lauderdale,35.8795,-89.4050,2506,216,polygon,False,True,America/Chicago,3,38037 38040,1840016246
9768,Calvert City,Calvert City,KY,Kentucky,21157,Marshall,37.0295,-88.3603,2505,54,polygon,False,True,America/Chicago,3,42044 42029,1840013276
9771,Overton,Overton,TX,Texas,48401,Rusk,32.2760,-94.9726,2503,144,polygon,False,True,America/Chicago,3,75684,1840020770
9772,Victor,Victor,ID,Idaho,16081,Teton,43.6015,-111.1107,2503,365,polygon,False,True,America/Boise,3,83455,1840021273
9773,Wrangell,Wrangell,AK,Alaska,2275,Wrangell,56.3317,-132.0223,2502,0,polygon,False,True,America/Sitka,3,99903 99929,1840000416

In [6]:
cities_filtered.drop(columns=["density","population","id","county_name","ranking","city_ascii","county_fips","military","source","incorporated","timezone"], axis=1, inplace=True)

In [7]:
cities_filtered['zips'] = '[' + cities_filtered['zips'].str.replace(' ', ',') + ']'
cities_filtered

,city,state_id,state_name,lat,lng,zips
0,New York,NY,New York,40.6943,-73.9249,"[11229,11226,11225,11224,11222,11221,11220,113..."
1,Los Angeles,CA,California,34.1139,-118.4068,"[90291,90293,90292,91316,91311,90037,90031,900..."
2,Chicago,IL,Illinois,41.8373,-87.6862,"[60018,60649,60641,60640,60643,60642,60645,606..."
3,Miami,FL,Florida,25.7839,-80.2102,"[33129,33125,33126,33127,33128,33149,33144,331..."
4,Dallas,TX,Texas,32.7936,-96.7662,"[75287,75098,75233,75254,75251,75252,75253,750..."
...,...,...,...,...,...,...
9767,Halls,TN,Tennessee,35.8795,-89.4050,"[38037,38040]"
9768,Calvert City,KY,Kentucky,37.0295,-88.3603,"[42044,42029]"
9771,Overton,TX,Texas,32.2760,-94.9726,[75684]
9772,Victor,ID,Idaho,43.6015,-111.1107,[83455]
9773,Wrangell,AK,Alaska,56.3317,-132.0223,"[99903,99929]"

In [8]:
cities_filtered.drop_duplicates(inplace=True)
cities_filtered.shape

(7321, 6)

In [9]:
cities_filtered.state_name.nunique()

52

In [10]:
cities_filtered.state_name.value_counts()

Texas                   564
California              504
Illinois                455
Pennsylvania            396
Ohio                    376
Florida                 337
New Jersey              255
North Carolina          242
Minnesota               234
New York                234
Michigan                233
Wisconsin               228
Georgia                 225
Missouri                216
Washington              195
Indiana                 178
Alabama                 163
Tennessee               152
Iowa                    136
Kentucky                135
Oklahoma                129
Virginia                122
Oregon                  118
Arkansas                115
Colorado                114
Utah                    113
Louisiana               112
South Carolina          106
Kansas                  101
Mississippi              93
Maryland                 88
Arizona                  87
Massachusetts            66
Idaho                    59
West Virginia            57
Nebraska                 51
New Mexico               48
Montana                  34
Connecticut              31
South Dakota             28
Wyoming                  27
Alaska                   26
Delaware                 23
North Dakota             22
Maine                    20
Nevada                   18
Hawaii                   16
New Hampshire            14
Vermont                  12
Rhode Island             10
Puerto Rico               2
District of Columbia      1
Name: state_name, dtype: int64

In [ ]:
#pagina: https://www.kaggle.com/datasets/louise2001/us-cities?resource=download

In [11]:
states = cities_filtered.loc[:, ['state_id', 'state_name']].drop_duplicates()
states.to_csv("./datasets/metadata-filtered/state.csv", sep=';', index=False)

In [12]:
cities_filtered

,city,state_id,state_name,lat,lng,zips
0,New York,NY,New York,40.6943,-73.9249,"[11229,11226,11225,11224,11222,11221,11220,113..."
1,Los Angeles,CA,California,34.1139,-118.4068,"[90291,90293,90292,91316,91311,90037,90031,900..."
2,Chicago,IL,Illinois,41.8373,-87.6862,"[60018,60649,60641,60640,60643,60642,60645,606..."
3,Miami,FL,Florida,25.7839,-80.2102,"[33129,33125,33126,33127,33128,33149,33144,331..."
4,Dallas,TX,Texas,32.7936,-96.7662,"[75287,75098,75233,75254,75251,75252,75253,750..."
...,...,...,...,...,...,...
9767,Halls,TN,Tennessee,35.8795,-89.4050,"[38037,38040]"
9768,Calvert City,KY,Kentucky,37.0295,-88.3603,"[42044,42029]"
9771,Overton,TX,Texas,32.2760,-94.9726,[75684]
9772,Victor,ID,Idaho,43.6015,-111.1107,[83455]
9773,Wrangell,AK,Alaska,56.3317,-132.0223,"[99903,99929]"

In [13]:
cities_filtered.drop(columns=["state_name","zips"], axis=1, inplace=True)
cities_filtered

              city state_id      lat       lng
0         New York       NY  40.6943  -73.9249
1      Los Angeles       CA  34.1139 -118.4068
2          Chicago       IL  41.8373  -87.6862
3            Miami       FL  25.7839  -80.2102
4           Dallas       TX  32.7936  -96.7662
...            ...      ...      ...       ...
9767         Halls       TN  35.8795  -89.4050
9768  Calvert City       KY  37.0295  -88.3603
9771       Overton       TX  32.2760  -94.9726
9772        Victor       ID  43.6015 -111.1107
9773      Wrangell       AK  56.3317 -132.0223

[7321 rows x 4 columns]

In [14]:
cities_filtered.drop_duplicates(inplace=True)

In [15]:
cities_filtered.shape

(7321, 4)

In [16]:
cities_filtered['city_id'] = range(1, len(cities_filtered)+1)
cities_filtered

              city state_id      lat       lng  city_id
0         New York       NY  40.6943  -73.9249        1
1      Los Angeles       CA  34.1139 -118.4068        2
2          Chicago       IL  41.8373  -87.6862        3
3            Miami       FL  25.7839  -80.2102        4
4           Dallas       TX  32.7936  -96.7662        5
...            ...      ...      ...       ...      ...
9767         Halls       TN  35.8795  -89.4050     7317
9768  Calvert City       KY  37.0295  -88.3603     7318
9771       Overton       TX  32.2760  -94.9726     7319
9772        Victor       ID  43.6015 -111.1107     7320
9773      Wrangell       AK  56.3317 -132.0223     7321

[7321 rows x 5 columns]

In [17]:
cities_filtered.to_csv("./datasets/metadata-filtered/cities.csv", sep=';', index=False)

In [18]:
metadata_final = pd.read_csv("./datasets/metadata-filtered/metadata_final_ale.csv")
metadata_final

,Unnamed: 0,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,...,misc,relative_results,url,city,cp,state,Cat_Id,Description,Group_Id,Group
0,0,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaN,34.058092,-118.292130,Korean restaurant,4.4,18,...,"{'Service options': ['Takeout', 'Dine-in', 'De...","['0x80c2c78249aba68f:0x35bf16ce61be751d', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Los Angeles,90005,CA,5,Korean restaurant,1,Comida
1,1,Ahi - R&D House,"Ahi - R&D House, 940 S Gilbert Rd #2, Gilbert,...",0x872ba9240f2eabb7:0x6539ede3ea401a19,NaN,33.332435,-111.791137,Korean restaurant,5.0,2,...,"{'Service options': ['Delivery', 'Takeout'], '...","['0x872baefd83cde281:0xcea7c0735ed506ae', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Gilbert,85296,AZ,5,Korean restaurant,1,Comida
2,2,Kim's Kitchen,"Kim's Kitchen, Above Palace Spa, 1727 S 316th ...",0x549057a7db40d70d:0xe085b6f6463ca410,NaN,47.318445,-122.311246,Korean restaurant,4.7,13,...,"{'Service options': ['Delivery', 'Takeout'], '...",NaN,https://www.google.com/maps/place//data=!4m2!3...,Federal Way,98003,WA,5,Korean restaurant,1,Comida
3,3,Kook Bin,"Kook Bin, 13069 Wisteria Dr, Germantown, MD 20874",0x89b62c3d880935df:0xfcc6c5f9e7e0a627,NaN,39.178581,-77.271384,Korean restaurant,4.2,27,...,"{'Service options': ['Takeout', 'Dine-in', 'De...","['0x89b62c3d880935df:0x79a91fe5b0017294', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Germantown,20874,MD,5,Korean restaurant,1,Comida
4,4,Toyose,"Toyose, 3814 Noriega St, San Francisco, CA 94122",0x8085878a8085d297:0xadf6a9f9923446f2,NaN,37.753200,-122.504702,Korean restaurant,4.5,14,...,"{'Service options': ['Delivery', 'Takeout', 'D...",NaN,https://www.google.com/maps/place//data=!4m2!3...,San Francisco,94122,CA,5,Korean restaurant,1,Comida
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329532,329532,Eatfit Food Truck,"Eatfit Food Truck, 7777 N Heartland Dr, Coeur ...",0x5361c123a062e72b:0xe9238e78df994bf0,NaN,47.743831,-116.799903,Macrobiotic restaurant,4.5,2,...,"{'Service options': ['Delivery', 'Takeout'], '...",NaN,https://www.google.com/maps/place//data=!4m2!3...,Coeur d'Alene,83815,ID,419,Macrobiotic restaurant,1,Comida
329533,329533,Moobongri,"Moobongri, 1300 San Pedro St, Los Angeles, CA ...",0x80c2c7d2e76ad7d9:0xd40ca6f74f9c441a,NaN,34.032258,-118.254136,Soondae restaurant,4.1,8,...,{'Service options': ['Delivery']},"['0x80c2c78073cc019d:0x678e86acdfe52fa', '0x80...",https://www.google.com/maps/place//data=!4m2!3...,Los Angeles,90015,CA,424,Soondae restaurant,1,Comida
329534,329534,Cháo Đêm,"Cháo Đêm, 9754 Garden Grove Blvd, Garden Grove...",0x80dd28798611e063:0xc6f65143e5c71e18,NaN,33.772999,-117.962427,Porridge restaurant,3.8,236,...,"{'Service options': ['Takeout', 'Dine-in', 'De...","['0x80dd270cbc6fdd05:0x49edfc8bc513a022', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Garden Grove,92844,CA,360,Porridge restaurant,1,Comida
329535,329535,High Country Smokehouse,"High Country Smokehouse, 702 W Trimble Ave, Be...",0x87cec5581b8eb5e7:0x35cbfdf4a48a817f,NaN,36.371808,-93.580830,Offal barbecue restaurant,4.8,85,...,"{'Service options': ['Takeout', 'Delivery'], '...","['0x87cec5423182a445:0x9111f1233888eef5', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Berryville,72616,AR,433,Offal barbecue restaurant,1,Comida
329536,329536,Ana's House antojitos Y Micheladas,"Ana's House antojitos Y Micheladas, 3755 Shade...",0x886b4f8f79d2166d:0x41ba80c2d714c24,NaN,39.825452,-86.045364,Dance restaurant,4.5,67,...,"{'Service options': ['Takeout', 'Dine-in', 'De...","['0x886b4c1b86d95631:0x1e88267c3de50e6f', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Indianapolis,46226,IN,264,Dance restaurant,1,Comida

In [19]:
metadata_final_new = metadata_final
metadata_final_new

,Unnamed: 0,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,...,misc,relative_results,url,city,cp,state,Cat_Id,Description,Group_Id,Group
0,0,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaN,34.058092,-118.292130,Korean restaurant,4.4,18,...,"{'Service options': ['Takeout', 'Dine-in', 'De...","['0x80c2c78249aba68f:0x35bf16ce61be751d', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Los Angeles,90005,CA,5,Korean restaurant,1,Comida
1,1,Ahi - R&D House,"Ahi - R&D House, 940 S Gilbert Rd #2, Gilbert,...",0x872ba9240f2eabb7:0x6539ede3ea401a19,NaN,33.332435,-111.791137,Korean restaurant,5.0,2,...,"{'Service options': ['Delivery', 'Takeout'], '...","['0x872baefd83cde281:0xcea7c0735ed506ae', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Gilbert,85296,AZ,5,Korean restaurant,1,Comida
2,2,Kim's Kitchen,"Kim's Kitchen, Above Palace Spa, 1727 S 316th ...",0x549057a7db40d70d:0xe085b6f6463ca410,NaN,47.318445,-122.311246,Korean restaurant,4.7,13,...,"{'Service options': ['Delivery', 'Takeout'], '...",NaN,https://www.google.com/maps/place//data=!4m2!3...,Federal Way,98003,WA,5,Korean restaurant,1,Comida
3,3,Kook Bin,"Kook Bin, 13069 Wisteria Dr, Germantown, MD 20874",0x89b62c3d880935df:0xfcc6c5f9e7e0a627,NaN,39.178581,-77.271384,Korean restaurant,4.2,27,...,"{'Service options': ['Takeout', 'Dine-in', 'De...","['0x89b62c3d880935df:0x79a91fe5b0017294', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Germantown,20874,MD,5,Korean restaurant,1,Comida
4,4,Toyose,"Toyose, 3814 Noriega St, San Francisco, CA 94122",0x8085878a8085d297:0xadf6a9f9923446f2,NaN,37.753200,-122.504702,Korean restaurant,4.5,14,...,"{'Service options': ['Delivery', 'Takeout', 'D...",NaN,https://www.google.com/maps/place//data=!4m2!3...,San Francisco,94122,CA,5,Korean restaurant,1,Comida
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329532,329532,Eatfit Food Truck,"Eatfit Food Truck, 7777 N Heartland Dr, Coeur ...",0x5361c123a062e72b:0xe9238e78df994bf0,NaN,47.743831,-116.799903,Macrobiotic restaurant,4.5,2,...,"{'Service options': ['Delivery', 'Takeout'], '...",NaN,https://www.google.com/maps/place//data=!4m2!3...,Coeur d'Alene,83815,ID,419,Macrobiotic restaurant,1,Comida
329533,329533,Moobongri,"Moobongri, 1300 San Pedro St, Los Angeles, CA ...",0x80c2c7d2e76ad7d9:0xd40ca6f74f9c441a,NaN,34.032258,-118.254136,Soondae restaurant,4.1,8,...,{'Service options': ['Delivery']},"['0x80c2c78073cc019d:0x678e86acdfe52fa', '0x80...",https://www.google.com/maps/place//data=!4m2!3...,Los Angeles,90015,CA,424,Soondae restaurant,1,Comida
329534,329534,Cháo Đêm,"Cháo Đêm, 9754 Garden Grove Blvd, Garden Grove...",0x80dd28798611e063:0xc6f65143e5c71e18,NaN,33.772999,-117.962427,Porridge restaurant,3.8,236,...,"{'Service options': ['Takeout', 'Dine-in', 'De...","['0x80dd270cbc6fdd05:0x49edfc8bc513a022', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Garden Grove,92844,CA,360,Porridge restaurant,1,Comida
329535,329535,High Country Smokehouse,"High Country Smokehouse, 702 W Trimble Ave, Be...",0x87cec5581b8eb5e7:0x35cbfdf4a48a817f,NaN,36.371808,-93.580830,Offal barbecue restaurant,4.8,85,...,"{'Service options': ['Takeout', 'Delivery'], '...","['0x87cec5423182a445:0x9111f1233888eef5', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Berryville,72616,AR,433,Offal barbecue restaurant,1,Comida
329536,329536,Ana's House antojitos Y Micheladas,"Ana's House antojitos Y Micheladas, 3755 Shade...",0x886b4f8f79d2166d:0x41ba80c2d714c24,NaN,39.825452,-86.045364,Dance restaurant,4.5,67,...,"{'Service options': ['Takeout', 'Dine-in', 'De...","['0x886b4c1b86d95631:0x1e88267c3de50e6f', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Indianapolis,46226,IN,264,Dance restaurant,1,Comida

In [20]:
metadata_final_new.drop(columns=['Group','Unnamed: 0',"Description","category"], axis=1, inplace=True)

In [22]:
metadata_final_new['city'] = metadata_final_new['city'].str.strip()

print(metadata_final_new['city'].unique())
print(cities_filtered['city'].unique())

['Los Angeles' 'Gilbert' 'Federal Way' ... 'Spring Mountain Rd' 'NJ 07206'
 'Rising Sun Ave']
['New York' 'Los Angeles' 'Chicago' ... 'Overton' 'Victor' 'Wrangell']

In [23]:
metadata_final_new.rename(columns={'state': 'state_id'}, inplace=True)
metadata_final_new

,name,address,gmap_id,description,latitude,longitude,avg_rating,num_of_reviews,price,hours,misc,relative_results,url,city,cp,state_id,Cat_Id,Group_Id
0,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaN,34.058092,-118.292130,4.4,18,NaN,"[['Thursday', '6:30AM–6PM'], ['Friday', '6:30A...","{'Service options': ['Takeout', 'Dine-in', 'De...","['0x80c2c78249aba68f:0x35bf16ce61be751d', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Los Angeles,90005,CA,5,1
1,Ahi - R&D House,"Ahi - R&D House, 940 S Gilbert Rd #2, Gilbert,...",0x872ba9240f2eabb7:0x6539ede3ea401a19,NaN,33.332435,-111.791137,5.0,2,NaN,"[['Wednesday', 'Closed'], ['Thursday', '11:30A...","{'Service options': ['Delivery', 'Takeout'], '...","['0x872baefd83cde281:0xcea7c0735ed506ae', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Gilbert,85296,AZ,5,1
2,Kim's Kitchen,"Kim's Kitchen, Above Palace Spa, 1727 S 316th ...",0x549057a7db40d70d:0xe085b6f6463ca410,NaN,47.318445,-122.311246,4.7,13,NaN,"[['Wednesday', '11AM–8PM'], ['Thursday', '11AM...","{'Service options': ['Delivery', 'Takeout'], '...",NaN,https://www.google.com/maps/place//data=!4m2!3...,Federal Way,98003,WA,5,1
3,Kook Bin,"Kook Bin, 13069 Wisteria Dr, Germantown, MD 20874",0x89b62c3d880935df:0xfcc6c5f9e7e0a627,NaN,39.178581,-77.271384,4.2,27,NaN,"[['Wednesday', '10AM–8PM'], ['Thursday', '10AM...","{'Service options': ['Takeout', 'Dine-in', 'De...","['0x89b62c3d880935df:0x79a91fe5b0017294', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Germantown,20874,MD,5,1
4,Toyose,"Toyose, 3814 Noriega St, San Francisco, CA 94122",0x8085878a8085d297:0xadf6a9f9923446f2,NaN,37.753200,-122.504702,4.5,14,NaN,"[['Wednesday', '6PM–12AM'], ['Thursday', '6PM–...","{'Service options': ['Delivery', 'Takeout', 'D...",NaN,https://www.google.com/maps/place//data=!4m2!3...,San Francisco,94122,CA,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329532,Eatfit Food Truck,"Eatfit Food Truck, 7777 N Heartland Dr, Coeur ...",0x5361c123a062e72b:0xe9238e78df994bf0,NaN,47.743831,-116.799903,4.5,2,NaN,"[['Wednesday', '11AM–3:30PM'], ['Thursday', '1...","{'Service options': ['Delivery', 'Takeout'], '...",NaN,https://www.google.com/maps/place//data=!4m2!3...,Coeur d'Alene,83815,ID,419,1
329533,Moobongri,"Moobongri, 1300 San Pedro St, Los Angeles, CA ...",0x80c2c7d2e76ad7d9:0xd40ca6f74f9c441a,NaN,34.032258,-118.254136,4.1,8,NaN,"[['Tuesday', '10AM–2PM'], ['Wednesday', '10AM–...",{'Service options': ['Delivery']},"['0x80c2c78073cc019d:0x678e86acdfe52fa', '0x80...",https://www.google.com/maps/place//data=!4m2!3...,Los Angeles,90015,CA,424,1
329534,Cháo Đêm,"Cháo Đêm, 9754 Garden Grove Blvd, Garden Grove...",0x80dd28798611e063:0xc6f65143e5c71e18,NaN,33.772999,-117.962427,3.8,236,$,"[['Tuesday', '10AM–2AM'], ['Wednesday', '10AM–...","{'Service options': ['Takeout', 'Dine-in', 'De...","['0x80dd270cbc6fdd05:0x49edfc8bc513a022', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Garden Grove,92844,CA,360,1
329535,High Country Smokehouse,"High Country Smokehouse, 702 W Trimble Ave, Be...",0x87cec5581b8eb5e7:0x35cbfdf4a48a817f,NaN,36.371808,-93.580830,4.8,85,$,"[['Tuesday', '11AM–8PM'], ['Wednesday', '11AM–...","{'Service options': ['Takeout', 'Delivery'], '...","['0x87cec5423182a445:0x9111f1233888eef5', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Berryville,72616,AR,433,1
329536,Ana's House antojitos Y Micheladas,"Ana's House antojitos Y Micheladas, 3755 Shade...",0x886b4f8f79d2166d:0x41ba80c2d714c24,NaN,39.825452,-86.045364,4.5,67,NaN,"[['Monday', '11AM–10PM'], ['Tuesday', '11AM–10...","{'Service options': ['Takeout', 'Dine-in', 'De...","['0x886b4c1b86d95631:0x1e88267c3de50e6f', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Indianapolis,46226,IN,264,1

In [24]:
#metadata_final_citis= metadata_final_new.merge(cities_filtered[['city', 'city_id']], on='city', how='left')
metadata_final_new = metadata_final_new.merge(cities_filtered[['city', 'state_id', 'city_id']], on=['city', 'state_id'], how='left')


metadata_final_new

,name,address,gmap_id,description,latitude,longitude,avg_rating,num_of_reviews,price,hours,misc,relative_results,url,city,cp,state_id,Cat_Id,Group_Id,city_id
0,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaN,34.058092,-118.292130,4.4,18,NaN,"[['Thursday', '6:30AM–6PM'], ['Friday', '6:30A...","{'Service options': ['Takeout', 'Dine-in', 'De...","['0x80c2c78249aba68f:0x35bf16ce61be751d', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Los Angeles,90005,CA,5,1,2.0
1,Ahi - R&D House,"Ahi - R&D House, 940 S Gilbert Rd #2, Gilbert,...",0x872ba9240f2eabb7:0x6539ede3ea401a19,NaN,33.332435,-111.791137,5.0,2,NaN,"[['Wednesday', 'Closed'], ['Thursday', '11:30A...","{'Service options': ['Delivery', 'Takeout'], '...","['0x872baefd83cde281:0xcea7c0735ed506ae', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Gilbert,85296,AZ,5,1,182.0
2,Kim's Kitchen,"Kim's Kitchen, Above Palace Spa, 1727 S 316th ...",0x549057a7db40d70d:0xe085b6f6463ca410,NaN,47.318445,-122.311246,4.7,13,NaN,"[['Wednesday', '11AM–8PM'], ['Thursday', '11AM...","{'Service options': ['Delivery', 'Takeout'], '...",NaN,https://www.google.com/maps/place//data=!4m2!3...,Federal Way,98003,WA,5,1,460.0
3,Kook Bin,"Kook Bin, 13069 Wisteria Dr, Germantown, MD 20874",0x89b62c3d880935df:0xfcc6c5f9e7e0a627,NaN,39.178581,-77.271384,4.2,27,NaN,"[['Wednesday', '10AM–8PM'], ['Thursday', '10AM...","{'Service options': ['Takeout', 'Dine-in', 'De...","['0x89b62c3d880935df:0x79a91fe5b0017294', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Germantown,20874,MD,5,1,NaN
4,Toyose,"Toyose, 3814 Noriega St, San Francisco, CA 94122",0x8085878a8085d297:0xadf6a9f9923446f2,NaN,37.753200,-122.504702,4.5,14,NaN,"[['Wednesday', '6PM–12AM'], ['Thursday', '6PM–...","{'Service options': ['Delivery', 'Takeout', 'D...",NaN,https://www.google.com/maps/place//data=!4m2!3...,San Francisco,94122,CA,5,1,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329534,Eatfit Food Truck,"Eatfit Food Truck, 7777 N Heartland Dr, Coeur ...",0x5361c123a062e72b:0xe9238e78df994bf0,NaN,47.743831,-116.799903,4.5,2,NaN,"[['Wednesday', '11AM–3:30PM'], ['Thursday', '1...","{'Service options': ['Delivery', 'Takeout'], '...",NaN,https://www.google.com/maps/place//data=!4m2!3...,Coeur d'Alene,83815,ID,419,1,373.0
329535,Moobongri,"Moobongri, 1300 San Pedro St, Los Angeles, CA ...",0x80c2c7d2e76ad7d9:0xd40ca6f74f9c441a,NaN,34.032258,-118.254136,4.1,8,NaN,"[['Tuesday', '10AM–2PM'], ['Wednesday', '10AM–...",{'Service options': ['Delivery']},"['0x80c2c78073cc019d:0x678e86acdfe52fa', '0x80...",https://www.google.com/maps/place//data=!4m2!3...,Los Angeles,90015,CA,424,1,2.0
329536,Cháo Đêm,"Cháo Đêm, 9754 Garden Grove Blvd, Garden Grove...",0x80dd28798611e063:0xc6f65143e5c71e18,NaN,33.772999,-117.962427,3.8,236,$,"[['Tuesday', '10AM–2AM'], ['Wednesday', '10AM–...","{'Service options': ['Takeout', 'Dine-in', 'De...","['0x80dd270cbc6fdd05:0x49edfc8bc513a022', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Garden Grove,92844,CA,360,1,258.0
329537,High Country Smokehouse,"High Country Smokehouse, 702 W Trimble Ave, Be...",0x87cec5581b8eb5e7:0x35cbfdf4a48a817f,NaN,36.371808,-93.580830,4.8,85,$,"[['Tuesday', '11AM–8PM'], ['Wednesday', '11AM–...","{'Service options': ['Takeout', 'Delivery'], '...","['0x87cec5423182a445:0x9111f1233888eef5', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Berryville,72616,AR,433,1,4850.0
329538,Ana's House antojitos Y Micheladas,"Ana's House antojitos Y Micheladas, 3755 Shade...",0x886b4f8f79d2166d:0x41ba80c2d714c24,NaN,39.825452,-86.045364,4.5,67,NaN,"[['Monday', '11AM–10PM'], ['Tuesday', '11AM–10...","{'Service options': ['Takeout', 'Dine-in', 'De...","['0x886b4c1b86d95631:0x1e88267c3de50e6f', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,Indianapolis,46226,IN,264,1,36.0

In [558]:
metadata_final_new.rename(columns={'Cat_Id': 'cat_id'}, inplace=True)
metadata_final_new.rename(columns={'Group_Id': 'group_id'}, inplace=True)

metadata_final_new.drop(columns=['city','cp'], axis=1, inplace=True)

In [26]:
metadata_final_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 329539 entries, 0 to 329538
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              329538 non-null  object
 1   address           328804 non-null  object
 2   gmap_id           329539 non-null  object
 3   description       22923 non-null   object
 4   latitude          329539 non-null  float64
 5   longitude         329539 non-null  float64
 6   avg_rating        329539 non-null  float64
 7   num_of_reviews    329539 non-null  int64
 8   price             49840 non-null   object
 9   hours             251992 non-null  object
 10  misc              287702 non-null  object
 11  relative_results  269125 non-null  object
 12  url               329539 non-null  object
 13  city              328797 non-null  object
 14  cp                328804 non-null  object
 15  state_id          328272 non-null  object
 16  Cat_Id            329539 non-null  int64
 17  Group_Id          329539 non-null  int64
 18  city_id           252538 non-null  float64
dtypes: float64(4), int64(3), object(12)
memory usage: 50.3+ MB